/*  -----------------------------------
    Custom Fonts
    ----------------------------------- */

@font-face
    font-family: 'Lato'
    src: url($fontPath + 'Lato/Lato-Reg.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoItalic'
    src: url($fontPath + 'Lato/Lato-RegIta.ttf')  format('truetype')
    font-weight: normal
    
@font-face
    font-family: 'LatoBold'
    src: url($fontPath + 'Lato/Lato-Bol.ttf')  format('truetype')
    font-weight: normal