/*  -----------------------------------
    File Paths
    ----------------------------------- */
    
$imgPath = '/img/'
$fontPath = '/fonts/'

/*  -----------------------------------
    Colors
    ----------------------------------- */

$bodyBGColor = transparent
$bodyFontColor = #DFEFE9
$headerBGColor = transparent
$headerFontColor = #DFEFE9
$navBGColor = transparent
$navFontColor = #0C383F
$navActiveBGColor = transparent
$navActiveFontColor = #47D4D7
$tabs-base-color = #DFEFE9
$accordionBGColor = rgba(12,56,63,0.85)
$link-color = #47D4D7
$module-divider = #cccccc
$resumeLinkColor = $bodyFontColor
$footerBGTransparent = rgba(12,56,63,0)
$footerBGColor = rgba(12,56,63,0.85)
$footerFontColor = #ffffff
$footerLinkColor = #ffffff


/*  -----------------------------------
    Fonts
    ----------------------------------- */

// font files are listed in core/_fonts.styl
$Lato = 'Lato'
$LatoItalic = 'LatoItalic'
$LatoBold = 'LatoBold'

$siteFontStack = $Lato, Helvetica, Arial, sans-serif


/*  -----------------------------------
    Widths and Padding
    ----------------------------------- */

$pageContentMaxWidth = 90rem
$pagePadding = 0 1.25rem